<div class="reward_pay" style="text-align:center">
  <p>你的支持是我的动力，如果本文对您有所帮助，欢迎扫描下方二维码进行打赏，感谢支持。</p>
  <table style="margin: auto">
    <thead><tr>
      <th>微信支付</th>
      <th>支付宝</th>
    </tr></thead>
    <tbody><tr>
      <td><img style="max-widht: 150px; max-height: 150px" src="https://raw.githubusercontent.com/cggos/cggos.github.io/master/assets/images/reward_wechat.png" alt="微信支付二维码" /></td>
      <td><img style="max-widht: 150px; max-height: 150px" src="https://raw.githubusercontent.com/cggos/cggos.github.io/master/assets/images/reward_alipay.jpg" alt="支付宝二维码" /></td>
    </tr></tbody>
  </table>
</div>
